.FooterPadrao{
    background-color: #006647 ;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 15px;
    text-align: center;
    align-items: center;
}

.FooterPadrao ul{
    font-family: InterBold, 'sans-serif';
    color: white;
    list-style: none;

}