.LoginGeral{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20vh;
    margin-bottom: 20vh;
}

.LoginConteudo1 img {
    filter: drop-shadow(3px 3px 2px rgb(90, 90, 90));
}

.LoginConteudo2{
    display: flex;
    flex-direction: column;

}

.LoginConteudo2 h1{
    font-family: InterBlack, sans-serif;
    color: #00A1E0;
    font-size: 40px;
    margin-bottom: 30px;
    text-align: center;
}

#email{
    margin-bottom: 2vh;
}

.LoginConteudo2 input::placeholder{
    color: #000000;
    opacity: 40%;
    font-family: InterBlack, sans-serif;
}

.LoginConteudo2 #email{
    padding-left: 15px;
    border: none;
    background-color: #D9D9D9;
    width: 264px;
    height: 26px;
    filter: drop-shadow(0px 4px 4px rgb(90, 90, 90));
    border-radius: 30px;
}

.LoginConteudo2 #senha{
    padding-left: 15px;
    border: none;
    background-color: #D9D9D9;
    width: 264px;
    height: 26px;
    filter: drop-shadow(0px 4px 4px rgb(90, 90, 90));
    border-radius: 30px;
}

.DivCheckbox{
    margin-top: 10px;
    margin-left: 2vw;
    font-family: InterBold, sans-serif;
    color: white;
    font-size: 13px;
}

.DivCheckbox input{
    display: none;
}

.DivCheckbox input + label:before{
    content: '';
    width: 17px;
    height: 17px;
    border-radius: 2px;
    background-color: #D9D9D9;
    border: none;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 3px;
    margin-right: 8px;

}


.DivCheckbox input:checked + label:before{
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 10 10'%3E%3Cg class='nc-icon-wrapper' stroke-width='1' fill='%23555555'%3E%3Cpath fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' data-cap='butt' d='M2.83 4.72l1.58 1.58 2.83-2.83'/%3E%3C/g%3E%3C/svg%3E");
}

.LoginConteudo2 p{
    font-size: 13px;
    color: white;
    font-family: InterBold, sans-serif;
    margin-left: 2vw;
    margin-top: 1vh;
}

form{
    display: flex;
    flex-direction: column;
}

.LoginConteudo2 button{
    margin-top: 30px;
    border: none;
    width: 120px;
    height: 30px;
    border-radius: 20px;
    background-color: #00A1E0;
    color: white;
    font-family: InterBlack, sans-serif;
    font-size: 15px;
    filter: drop-shadow(0px 2px 2px rgb(90, 90, 90));
    align-self: center;
    margin-bottom: 35px;
}

.LoginConteudo2 button:hover{
    animation: pulse 2s infinite;
}
    
@keyframes pulse {
    0%, 100% { transform: scale(1);}
    50% { transform: scale(1.1)}
}

.LoginConteudo2 button:active{
    translate: 3px 3px ;
}

.LoginConteudo2 a{
    color: white;
    font-family: InterBold, sans-serif;
}

.LoginConteudo2 a:hover{
    color: #00A1E0;
}

#LogoSalesforce{
    display: flex;
    justify-content: center;
    filter: drop-shadow(0px 4px 4px rgb(90, 90, 90));
}



